<section class="section-user-page">
  <div class="container user-page">
    <h1 class="user-page__title">Страница пользователей</h1>
    <app-user-create (userSubmit)="onCreateUser($event)"/>
    <div class="user-count-display">
      {{ usersCount | users:['юзер', 'юзера', 'юзеров'] }}
    </div>
    <div class="list-none user-card">
      @for (user of filteredUsers$ | async; track user.id) {
        <app-user-card [user]="user" (deleteUser)="onDeleteUser($event)" />
      } @empty {
        <div class="message-not-users">
          <p class="text">Нет пользователей для отображения</p>
        </div>
      }
    </div>
    <app-users-filter (filterChange)="this.searchTerm$.next($event)"></app-users-filter>
  </div>
</section>