<div class="notice-block">
  @for (msg of messages$ | async; track msg.id) {
    <ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext]="{ id: msg.id, type: msg.type, text: msg.text }"/>
  }
</div>
<ng-template #messageTemplate let-type="type" let-text="text" let-msgId="id">
  <div class="notice">
    <div class="notice-icon">
      <fa-icon [icon]="faEnvelope" />
    </div>
    <div class="notice-info">
      <div class="notice-title">{{ type }}</div>
      <div class="notice-text">{{ text }}</div>
    </div>
    <button (click)="messageManagementService.closeMessage(msgId)" id="notice-close-btn" class="notice-close-btn" type="button">
      <fa-icon [icon]="faCircleXmark" />
    </button>
  </div>
</ng-template>