<div *ngIf="isLoading" class="loader-overlay">
  <div class="loader-spinner">
    <img class="loader-icon" src="/images/loading-page-icon.svg" />
  </div>
  <p>Загрузка...</p>
</div>
<div *ngIf="!isLoading">
  <header class="header">
    <div class="header-container">
      <div class="container main-header">
        <div class="header-logo">
          <img src="/images/mountain-icon.svg" alt="mountain" class="logo" />
          <span class="company-name">{{ companyName }}</span>
        </div>
        <nav class="header-nav">
          <a href="#" id="home">Главная</a>
          <a href="#" id="about-guide">Про гида</a>
          <a href="#" id="tour-program">Программа тура</a>
          <a href="#" id="cost">Стоимость</a>
          <a href="#" id="blog">Блог</a>
          <a href="#" id="contacts">Контакты</a>
          <button id="consult-btn">Консультация</button>
        </nav>
      </div>
      <div class="header-date">
        <div *ngIf="!isClicker">
          <span class="mr-50">{{ currentDate }}</span>
        </div>
        <div *ngIf="isClicker" class="mr-50">
          <button id="decrement-btn" class="count-btns" (click)="count -= 1" [disabled]="count <= 0">-</button>
          <span class="count">{{ count }}</span>
          <button id="increment-btn" class="count-btns" (click)="count += 1">+</button>
        </div>
        <button (click)="toggleDisplay()" id="show-date-btn" class="show-date-btn">
          {{ isClicker ? 'Показать дату' : 'Показать кликер' }}
        </button>
      </div>
    </div>
  </header>
  <section class="main-info">
    <div class="banner"></div>
    <div class="main-info-title">
      <h1 class="title">Насладись прогулкой в горах с командой единомышленников</h1>
      <div class="search-block">
        <form class="search-form">
          <div class="input-block">
            <select
              (change)="checkFormValidity()"
              [(ngModel)]="location"
              id="location"
              name="location"
              class="input-field"
            >
              <option disabled value="">Локация для тура</option>
              <option value="alps">Альпы</option>
            </select>
            <span class="hint">выберите из списка</span>
          </div>
          <div class="input-block">
            <div class="input-date">
              <input
                (ngModelChange)="checkFormValidity()"
                [(ngModel)]="date"
                type="date"
                id="date"
                name="date"
                placeholder="Дата похода"
                class="date-input"
              />
            </div>
            <p class="hint">укажите дату</p>
          </div>
          <div class="input-block">
            <select
              (change)="checkFormValidity()"
              [(ngModel)]="participants"
              class="input-field"
              id="participants"
              name="participants"
            >
              <option disabled value="">Участники</option>
              <option value="2">2 человека</option>
            </select>
            <span class="hint">выберите из списка</span>
          </div>
          <button id="find-program-btn" type="submit" [disabled]="!isButtonEnabled">
            Найти программу
          </button>
        </form>
      </div>
      <div class="live-input-container">
        <input
          id="live-input"
          class="live-input"
          type="text"
          (input)="onInput()"
          [(ngModel)]="inputValue"
        />
        <span class="entered-text">{{ displayedText }}</span>
      </div>
    </div>
  </section>
  <section class="programs-tour">
    <div class="container programs-block">
      <div class="programs-block-tour-images">
        <img src="/images/mountain-tour.png" alt="Фон" />
        <img src="/images/house-tour.png" alt="Наложение" class="overlay" />
        <div class="play-btn-block">
          <button id="play-btn" class="play-btn">
            <img src="/images/green-play-btn-icon.svg" alt="play-btn-icon" />
          </button>
        </div>
      </div>
      <div class="programs-block-tour-info">
        <span class="subtitle">о нашем походе</span>
        <h2 class="title">Исследуйте все горные массивы мира вместе с нами</h2>
        <p class="description">
          Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
          тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат
          Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его
          поисками в классической латинской литературе.
        </p>
        <button id="programs-tour-btn">Программа тура</button>
      </div>
    </div>
  </section>
  <section class="programs">
    <div class="programs-info">
      <div class="programs-title">
        <span class="subtitle">наше предложение</span>
        <h2 class="title">Лучшие программы для тебя</h2>
      </div>
      <p class="description">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
      </p>
      <div class="programs-list">
        @for (program of programs; track program.id) {
          <div class="programs-list-block">
            <div class="programs-list-icon">
              <img
                src="/images/{{ program.icon }}.svg"
                alt="icon"
                width="36px"
                height="33px"
                class="programs-icon"
              />
            </div>
            <div class="programs-list-info">
              <span class="program-features-title">{{ program.title }}</span>
              <p class="program-features-description">{{ program.description }}</p>
            </div>
          </div>
        }
      </div>
      <button id="programs-price-btn">Стоимость программ</button>
    </div>
    <div class="programs-images">
      <img src="/images/glass-of-coffee.png" />
      <img src="/images/man-in-stone-mountain.png" />
      <img src="/images/man-on-snowmobile.png" />
      <img src="/images/green-mountain.png" />
    </div>
  </section>
</div>
