<div class="user-card__item">
  <h2 class="user-card__title">{{ user.name || 'Неизвестно' }}</h2>
  <p class="user-card__username color-yellow">{{ user.username || 'Неизвестно' }}</p>
  <h3 class="user-card__subtitle">Контакты</h3>
  <div class="user-card__section">
    <div class="user-card__wrapper">
      <span class="user-card__label">Эл. почта:</span>
      <span class="user-card__value color-yellow">{{ user.email || 'Неизвестно' }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">Телефон:</span>
      <span class="user-card__value">{{ user.phone || 'Неизвестно' }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">Веб-сайт:</span>
      <span class="user-card__value color-yellow">{{ user.website || 'Неизвестно' }}</span>
    </div>
  </div>
  <h3 class="user-card__subtitle">Адрес Проживания</h3>
  <div class="user-card__section">
    <div class="user-card__wrapper">
      <span class="user-card__label">Город:</span>
      <span class="user-card__value">{{ user.address.city || 'Неизвестно' }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">Улица:</span>
      <span class="user-card__value">{{ user.address.street || 'Неизвестно' }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">Офис:</span>
      <span class="user-card__value">{{ user.address.suite || 'Неизвестно' }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">Индекс</span>
      <span class="user-card__value">{{ user.address.zipcode || 'Неизвестно' }}</span>
    </div>
    <div class="user-card__wrapper">
      <span class="user-card__label">Координаты</span>
      <div class="user-card__value">
        <span class="coordinates">{{ user.address.geo.lat || 'Неизвестно' }}</span>
        <span class="coordinates">{{ user.address.geo.lng || 'Неизвестно' }}</span>
      </div>
    </div>
  </div>
  <h3 class="user-card__subtitle">Место работы</h3>
  <div class="user-card__section">
    <div class="user-card__wrapper">
      <div class="user-card__label">Компания:</div>
      <div class="user-card__value">{{ user.company.name || 'Неизвестно' }}</div>
    </div>
    <div class="user-card__wrapper mb26">
      <div class="user-card__label">Миссия:</div>
      <div class="user-card__value text-italic">{{ user.company.catchPhrase || 'Неизвестно' }}</div>
    </div>
    <div class="user-card__wrapper">
      <div class="user-card__label">Специализация:</div>
      <div class="user-card__value">{{ user.company.bs || 'Неизвестно' }}</div>
    </div>
  </div>
  <button id="delete-user-btn" class="delete-user-btn" (click)="onDelete()">Удалить пользователя</button>
</div>
