@font-face {
  font-family: 'Nunito-sans';
  src: url('./fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}