@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito-sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1180px;
}

:root {
  --aura-primary: #000000;
  --aura-surface: #FFFFFF;
  --lara-primary: #4CAF50;
  --lara-surface: #F0F0F0;
  --nora-primary: #3333FF;
  --nora-surface: #E0E0E0;

  --current-primary: var(--aura-primary);
  --current-surface: var(--aura-surface);

  --secondary-color: #f2be22;
  --white-color: #fdfdfd;
  --super-white-color: #ffffff;
  --light-gray-color: #f3f5f4;
  --green-color: #1a3e3e;
  --header-bg: #18121E80;
}

.theme-aura {
  --current-primary: var(--aura-primary);
  --current-surface: var(--aura-surface);
}

.theme-lara {
  --current-primary: var(--lara-primary);
  --current-surface: var(--lara-surface);
}

.theme-nora {
  --current-primary: var(--nora-primary);
  --current-surface: var(--nora-surface);
}

.dark-theme {
  --current-primary: #e7ede1;
  --current-surface: #020202;
  --secondary-color: #44351e;
  --white-color: #020202;
  --super-white-color: #000000;
  --light-gray-color: #144246;
  --green-color: #0b3619;
  --header-bg: #00000080;
}

.title {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 32px;
  line-height: 120%;
  color: var(--current-primary);
  margin-top: 8px;
}

.subtitle {
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 20px;
  color: var(--secondary-color);
}

.description {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  color: var(--primary-color);
  margin-top: 40px;
}

.program-features-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1.2%;
}

.program-features-description {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  width: 514px;
  margin-top: 4px;
}

.fz-18 {
  font-size: 18px;
}

.fz-26 {
  font-size: 26px;
}
